<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) Microsoft. All rights reserved.
Licensed under the MIT license. See LICENSE file in the project root for full license information.-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Axe.Windows Command Line Interface (CLI)" Language="1033" Version="$(var.SemVer)" Manufacturer="Microsoft" UpgradeCode="186aeebb-f5d4-4161-a0ba-0f22d8d8a15a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86" />

    <MajorUpgrade Schedule="afterInstallInitialize" RemoveFeatures="All"
                  AllowDowngrades="no"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed." 
                  AllowSameVersionUpgrades="no"/>

    <UIRef Id="WixUI_InstallDir"/>

    <WixVariable Id="WixUIDialogBmp" Value="Resources\DialogBackground.png" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\WixDialogBanner.png" />
    <WixVariable Id="WixUILicenseRtf" Value="Resources\eula.rtf" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

    <Property Id="NETCORERUNTIMEFOUNDX86">
      <DirectorySearch Id="NetCoreDirectoryFoundx86" Path="[ProgramFilesFolder]dotnet" >
        <FileSearch Name="dotnet.exe" MinVersion="3.1"/>
      </DirectorySearch>
    </Property>

    <Property Id="NETCORERUNTIMEFOUNDX64">
      <DirectorySearch Id="NetCoreDirectoryFoundx64" Path="[ProgramFiles64Folder]dotnet" >
        <FileSearch Name="dotnet.exe" MinVersion="3.1"/>
      </DirectorySearch>
    </Property>

    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Axe.Windows CLI" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="NetCoreApp30Components" />
    </Feature>

    <Condition Message="[ProductName] requires .NET Core Runtime 3.1 or newer. Please visit https://dotnet.microsoft.com/download/dotnet-core">
      <![CDATA[Installed OR NETCORERUNTIMEFOUNDX64 OR NETCORERUNTIMEFOUNDX86]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir" >
      <Directory Id="ProgramFilesFolder" >
        <Directory Id="AxeWindowsCLIFolder" Name ="AxeWindowsCLI" >
          <Directory Id="INSTALLFOLDER" Name="$(var.SemVer)" >
            <Directory Id="RuntimesFolder" Name="runtimes" >
              <Directory Id="WinFolder" Name="win" >
                <Directory Id="LibFolder" Name="lib" >
                  <Directory Id="NetCoreApp30Folder" Name="netcoreapp3.0" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="548A9965-21AD-4CDF-99AD-A6F2A47D0AE8">
        <File Source="..\CLI\bin\Release\netcoreapp3.1\AxeWindowsCLI.exe" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\AxeWindowsCLI.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\AxeWindowsCLI.deps.json" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\AxeWindowsCLI.runtimeconfig.json" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Axe.Windows.Actions.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Axe.Windows.Automation.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Axe.Windows.Core.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Axe.Windows.Desktop.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Axe.Windows.Rules.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Axe.Windows.RuleSelection.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Axe.Windows.SystemAbstractions.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Axe.Windows.Telemetry.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Axe.Windows.Win32.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Microsoft.Win32.SystemEvents.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\System.Drawing.Common.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\System.IO.Packaging.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\thirdpartynotices.html" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\README.MD" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\CommandLine.dll" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\Newtonsoft.Json.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="NetCoreApp30Components" Directory="NetCoreApp30Folder">
      <Component Id="NetCoreApp30Component" Guid="1D2C21D8-E43C-45F6-8530-B59CA4BAF9A6">
        <File Source="..\CLI\bin\Release\netcoreapp3.1\runtimes\win\lib\netcoreapp3.0\Microsoft.Win32.SystemEvents.dll" Id="core30_systemevents" />
        <File Source="..\CLI\bin\Release\netcoreapp3.1\runtimes\win\lib\netcoreapp3.0\System.Drawing.Common.dll" Id="core30_drawingcommon" />
      </Component>
    </ComponentGroup>

  </Product>

</Wix>