<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Reminder: Axe.Windows and Newtonsoft are INTENTIONALLY PINNED on old versions in this project! -->
  <package id="Axe.Windows" version="0.3.1-prerelease" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>