# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
#################################################################
# .NET Coding Conventions (overridden for just this project     #
#################################################################
[*.{cs}]
dotnet_style_object_initializer = false
