<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="a11y-insights-private" value="https://dev.azure.com/accessibility-insights-private/Accessibility%20Insights%20(private)/_artifacts/feed/a11y-insights-public" />
  </packageSources>
</configuration>
